<!-- <div class="main-nav"> -->
<div class="container bg-about">
  <div class="row">
    <div class="col-12 text--center">
      <ul class="homepage-menu text--center">
        <li class="menu-item"><%= link_to "ACCUEIL", home_path %></li>
        <li class="menu-item"><%= link_to "LE DOMAINE", about_path %></li>
        <li class="menu-item"><%= link_to "CONTACT", contact_path %></li></li>
        <li class="menu-item"><%= link_to "INFORMATIONS PRATIQUES", infos_path %></li>
      </ul>
    </div>
  </div>
<!-- </div> -->

<div class="row about-menu">
  <div class="col-3">
    <!-- Side navigation -->
    <div class="about-sidenav">
      <a href="#communs">Les communs</a>
      <a href="#parc">Le parc</a>
      <a href="#ferme">La ferme modèle</a>
      <a href="#orangerie">L'Orangerie</a>
      <a href="#jardin">Le Jardin potager</a>
      <a href="#foret">La Forêt</a>
      <a href="#ile">L’Île dans son étang</a>
    </div>
  </div>
  <div class="col-9">
  <!-- Page content -->
    <div class="main">
<!--       <div class="container-text" id='chateau'>
        <h1>Le château</h1>
      </div> -->
      <div class="container-text" id='communs'>
        <h1>Les communs</h1>
          <p>Les Communs du Château de la Thibaudière  (1ha) sont inscrits ISMH par arrêté du 5 juillet 2005 du Ministère de la Culture. On y accède par deux grands portails Monumentaux.  Les Communs s'organisent autour d'une volière de briques, tuffeau et ardoises placée au centre d’une grande cour intérieure.</p>
          <p>Inspirés des communs de Scarisbrick Hill (Leicester) dans un style anglo-normand très soigné (colombages peints en façades). Deux grands porches à portes de bois à claire-voie, axés, donnent accès à la cour intérieure, celle-ci comporte deux pôles fonctionnels. Au Sud de la cour, dans le bâtiment dit de l’horloge (en restauration), la "cavalerie" (cinq boxes-stalles à chevaux, la sellerie, la remise à attelages et, à l'étage, les chambres des domestiques et palefreniers. </p>
          <p> Faisant face à cet élégant bâtiment, la ferme-modèle avec ses nombreuses fonctions (le vin, la laiterie, le bois, le cheval de trait et les attelages, les porcs, les bovins, la boulangerie, la blanchisserie et deux grands greniers à foin). 
          La propriété comptait 1,800 hectares et employait plus de trois cent personnes disséminées dans les nombreuses fermes du domaine (Les Mazuaux, Clos-Prune, les deux Mesnils, Virloin, etc. …).
          Autour de cette cour carrée, les façades sont traitées avec un soin tout particulier: jeu de la brique et de la pierre blanche, de la symétrie, les décors de boiseries ajourées, appuis de balcons, encorbellements.  Les plans et comptes de travaux d'origine ont disparus (sauf quelques dessins d'élévations) mais les comparaisons avec d'autres fonds, en particulier celui du château du Rouvotz par S. Delletre renvoient sans doute à la campagne de travaux qu'a effectuée sur la Thibaudiére le même Delletre (1802-64) au milieu du siècle.
          Le plan du parc réalisé alors ne montre pas les communs que l'on voit actuellement mais il ne fait guère de doute que leur construction a dû se faire peu après.</p>
      </div>
      <div class="container-text" id="parc">
        <h1>Le parc</h1>
        <!-- <p>C’est un espace de X m² composé de X sous-espaces : Liste des sous-espaces -->
        <!-- Un parc Choulot . Le parc a été réalisé par le comte de Choulot, qui prône un nouveau concept pour les parcs agricoles et paysagers. Son approche se veut "minimaliste". -->
        <!-- Un des grands principes de Choulot dans la conception de ses parcs, est de créer des liaisons visuelles entre l’intérieur des propriétés et le paysage environnant :  "Ce qui importe dans la composition, c’est la grandeur ; à défaut de la réalité, il faut au moins en faire naître l’idée, (…) en multipliant les plans avec une réserve intelligente (…). L’art doit battre en brèche ces remparts impénétrables à l’œil (murailles de verdure) et y faire de larges ouvertures qui permettent au pays d’y pénétrer et de mêler les scènes de la nature aux tableaux créés par l’artiste". Comte de Choulot, L'Art des Jardins, Première et deuxième livraison, Chapitre 2 à Paris, 1863 -->
        <!-- </p> -->
          <p> Le Parc du Château de la Thibaudière est classé au Titre des Sites (Ministère de l'Environnement) par deux arrêtés:
          1.  Arrêté de classement du 2 mai 1975 (Secrétariat d'État à la Culture),
          2.  Arrêté Complémentaire de Classement du 24 février 1987 (Ministère de l'Équipement, du Logement, de l'Aménagement du Territoire et des Transports). </p>
          <p> C’est un parc « Choulot ».  Au XIXe siècle, Paul-Bernard de Lavenne, comte de Choulot, 1794 (Nevers) - 1864 (Pougues-les-Eaux), prône un nouveau concept pour les parcs agricoles et paysagers:  Un des grands principes de Choulot dans la conception de ses parcs, est de créer des liaisons visuelles entre l’intérieur des propriétés et le paysage environnant : "Ce qui importe dans la composition, c’est la grandeur : à défaut de la réalité, il faut au moins en faire naître l’idée (…) L’art doit battre en brèche ces remparts impénétrables à l’œil (murailles de verdure) et y faire de larges ouvertures qui permettent au pays d’y pénétrer et de mêler les scènes de la nature aux tableaux créés par l’artiste.</p>
      </div>

      <div class="flexbox">
        <div id="myCarousel" class="carousel slide border" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" id='parc' src="https://res.cloudinary.com/chiaramtr/image/upload/c_scale,h_2000/v1610322287/La%20thibaudiere/Le_parc_en_hiver_ses_perspectives_mhninj.jpg" alt>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" id='parc' src="https://res.cloudinary.com/chiaramtr/image/upload/c_scale,h_2000/v1610322281/La%20thibaudiere/L_e_tang_Ouest_et_ses_canard_au_fond_le_pin_Laricio_de_Corse_n8jv4l.jpg" alt>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" id='parc' src="https://res.cloudinary.com/chiaramtr/image/upload/v1610322284/La%20thibaudiere/Plan_de_Choulot_fag3lt.jpg" alt>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" id='parc' src="https://res.cloudinary.com/chiaramtr/image/upload/v1610323071/La%20thibaudiere/040817-Notre-Dame_du_Parc_slnqce.jpg" alt>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" id='parc' src="https://res.cloudinary.com/chiaramtr/image/upload/c_scale,h_2000/v1610323068/La%20thibaudiere/Notre-Dame_du_Parc_hln7wh.jpg" alt>
            </div>
          </div>
          <!-- Carousel nav -->
           <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
           <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
           </a>
        </a>
        </div>
          <p> Les interventions du comte de Choulot démontrent une conservation et une intégration des anciens aménagements paysagers pour améliorer l’existant. Pour cela, il tient compte de la topographie, des arbres existants, des lointains et de l’orientation du soleil pour la direction donnée aux allées et le choix des couleurs des feuillages. Il insiste également sur l’aménagement d’une partie (le jardin) en rapport avec le tout (la propriété et son environnement) et mise sur la fusion de l’utile à l’agréable. S’il propose une création paysagère unique et adaptée à chaque site, certains aménagements sont récurrents comme l’emploi des allées cavalières, les promenades de forme concentrique autour de la demeure, les pièces d’eau, les bosquets contenant des folies, les coulées, les bosquets en forme de Y, etc. …<p>
          <p> Le paysagiste avait pour habitude de créer deux plans, l'un destiné au propriétaire et commanditaire aquarellé en couleurs par sa femme, Élisabeth de Chabannes La Palisse, et l’autre en noir et blanc pour son usage personnel. Ces plans, non signés, sont toutefois aisément reconnaissables par leur singularité et leur uniformité : une vue aérienne du domaine est encadrée par des vignettes représentant les fabriques disposées dans le parc, un cartouche en lettres gothiques de couleurs (noir, rouge et bleu) indique le lieu, le nom du commanditaire et parfois l'année.<p>  Pendant plus de vingt ans, le comte de Choulot intervient sur 264 parcs. La dernière version de son traité intègre une liste de plans et parcs exécutés selon sa méthode (dont le parc du Château de la Thibaudière). Son œuvre contient de nombreux parcs privés et cinq parcs urbains, dont la vaste opération de la ville-parc du Vésinet.<p>
          La mode des parcs agricoles et paysagers a eu son apogée entre 1840 et 1860.
          "Son approche se veut "minimaliste".<p>
          <p> Entre 1840 et 1860, ce sont près de trente cinq parcs qui furent réalisés dans la région par le Comte de Choulot, attribués ou dont il aurait fortement inspiré la réalisation.<p>
      </div>
      <div class="container-text" id='ferme'>
        <h1>La ferme modèle</h1>
          <p> Inspirée du phalanstère de Fourier, la Ferme modèle a été conçue comme une cité harmonieuse avec différents espaces alloués à différentes activités, où l’Homme peut s’épanouir dans le travail.
            Historiquement la ferme se composait entre autres de locaux d'habitation, d’une écurie, d’un garage, d’une étable, d’une laiterie, d’un chenil, d’une boulangerie, d’une blanchisserie.
            Articulée autour d’une Cour des communs, elle reproduit un style anglo-normand du XIXème siècle
            C’est un espace de X m² composé de X sous-espaces : Liste des sous-espaces
            Si deux bâtiments de la ferme ont été restaurés à date, le reste est en très mauvais état et sa restauration à l'état d'origine est un projet ambitieux</p>
      </div>
      <div class="flexbox">
        <div id="myCarousel" class="carousel slide border" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
             <div class="carousel-item active">
              <img class="d-block w-100" id='orangerie' src="https://res.cloudinary.com/chiaramtr/image/upload/v1609940893/Le_Pavillon_de_l_Horloge_restaure%CC%81_IMG_1241_i46utt.jpg" alt>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" id='orangerie' src="https://res.cloudinary.com/chiaramtr/image/upload/c_scale,h_2000/v1609940893/Le_Pavillon_de_l_Horloge_restaure%CC%81_PA122060_afljrs.jpg" alt>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" id='orangerie' src="https://res.cloudinary.com/chiaramtr/image/upload/v1609940894/Panoramique_Michael_de_Montlaur_ofskg7.jpg" alt>
            </div>
          </div>

          <!-- Carousel nav -->
           <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
           <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
           </a>
        </div>
      </div>

      <div class="container-text" id="orangerie">
        <h1>L’orangerie</h1>
        <p> L’orangerie est un bâtiment de style classique qui a été récemment rénové et est en parfait état.
          Historiquement, le lieu était …
          Le lieu est aujourd’hui utilisé pour ….
          C’est un espace de X m² composé de X sous-espaces : Liste des sous-espaces</p>
      </div>
      <div class="flexbox">
        <div id="myCarousel" class="carousel slide border" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" id='orangerie' src="https://res.cloudinary.com/chiaramtr/image/upload/c_scale,h_2000/v1610321765/L_Orangerie_et_le_Portail_gauche_IMG_0783_salfby.jpg" alt>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" id='orangerie' src="https://res.cloudinary.com/chiaramtr/image/upload/c_scale,h_2000/v1610321770/L_Orangerie_IMG_0822_rbibjp.jpg" alt>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" id='orangerie' src="https://res.cloudinary.com/chiaramtr/image/upload/c_scale,h_2000/v1610321772/L_Orangerie_L1080833_vteyxn.jpg" alt>
            </div>
          </div>
          <!-- Carousel nav -->
           <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
           <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
           </a>
        </div>
      </div>


      <div class="container-text" id="jardin">
        <h1>Le Jardin potager</h1>
        <p> Un jardin potager de 2ha
          Potager du 18ème
        Grand bassin rond central
      Il était divisé quatre zones autour de ce bassin : légumes / arbres fruitiers / simples / fleurs / plantes aromatiques</p>
      </div>

      <div class="container-text" id="foret">
        <h1>La Forêt</h1>
        Une forêt de 30 ha
        25 ha de pelouse
        Charme pin larycio
      </div>
      <div>
        <img class="d-block w-100" id='ile' src="https://res.cloudinary.com/chiaramtr/image/upload/v1610322942/La%20thibaudiere/Le_pin_parasol_P1030069_abtlxg.jpg" alt>
      </div>

      <div class="container-text" id="ile">
        <h1>L’Île dans son étang</h1>
          <p>Une île de 3 ha
            On accède à l’île par une allée sombre où l’on remarquera des chênes et des pins exceptionnels.
            Une passerelle en bois commande l’entrée de l'île, un site de verdure composé de liquidambars, de pins Laricio et de cyprès chauves.
            Sur l’île, subsiste un petit kiosque en bois monté sur quatre piliers en pierre, ultime construction de ce type dont le parc comptait plusieurs exemplaires.
            Par l’allée sombre qui débouche sur un grand pré, le « Pré Marin », on arrive au temple à l’Antique, construction de la Renaissance.
      </div>
      <div>
        <img class="d-block w-100" id='ile' src="https://res.cloudinary.com/chiaramtr/image/upload/c_scale,h_2000/v1610322877/La%20thibaudiere/L_i%CC%82le_recoin_insolite_L1080814_pdjs3b.jpg" alt>
      </div>
    </div>
  </div>
</div>

