<div class="page-nav">
    <div class="container">
      <ul class="homepage-menu text--center">
        <li class="menu-item"><%= link_to "L'HISTOIRE", home_path %></li>
        <li class="menu-item"><%= link_to "L'HISTOIRE", about_path %></li>
        <li class="menu-item"><%= link_to "CONTACT", contact_path %></li>
        <li class="menu-item"><%= link_to "INFORMATIONS PRATIQUES", infos_path %></li>
      </ul>
    </div>
</div>

<div class="homepage-banner">
  <div class="container">
    <div class="text--center">
      <h1>LA THIBAUDIERE</h1>
      <p></p>
      <a class="btn-information" href="#">Accès & Horaires</a>
      </div>
    </div>
</div>

