<div class="container bg-homepage">
  <div class="row">
    <div class="col-12 text--center">
      <ul class="homepage-menu text--center">
        <li class="menu-item"><%= link_to "ACCUEIL", home_path %></li>
        <li class="menu-item"><%= link_to "LE DOMAINE", about_path %></li>
        <li class="menu-item"><%= link_to "CONTACT", contact_path %></li></li>
        <li class="menu-item"><%= link_to "INFORMATIONS PRATIQUES", infos_path %></li>
      </ul>
    </div>
    <div class="col-12">
      <div class="text--center">
        <h1>LA THIBAUDIERE</h1>
      </div>
    </div>
  </div>
</div>

