<div class="main-nav">
    <div class="navbar-container">
      <ul class="homepage-menu text--center">
        <li class="menu-item"><%= link_to "L'HISTOIRE", home_path %></li>
        <li class="menu-item"><%= link_to "LE DOMAINE", about_path %></li>
        <li class="menu-item"><%= link_to "CONTACT", contact_path %></li>
        <li class="menu-item"><%= link_to "INFORMATIONS PRATIQUES", infos_path %></li>
      </ul>
    </div>
</div>

<div class="container-map">
  <img class="d-block w-100" src="https://www.google.com/maps/search/?api=1&query=47.54282299664977,-0.6373141584905248&zoom=12" alt>
</div>
