<div class="container">
  <div class="row">
    <div class="col-12 text--center">
      <ul class="homepage-menu text--center">
        <li class="menu-item"><%= link_to "L'HISTOIRE", home_path %></li>
        <li class="menu-item"><%= link_to "LE DOMAINE", about_path %></li>
        <li class="menu-item"><%= link_to "CONTACT", contact_path %></li></li>
        <li class="menu-item"><%= link_to "INFORMATIONS PRATIQUES", infos_path %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="container-map text--center">
      <h1>Accès</h1>
      <img class="d-block w-100" src="https://www.google.com/maps/search/?api=1&query=47.54282299664977,-0.6373141584905248&zoom=12" alt>
    </div>
  </div>
</div>
