<div class="container">
  <div class="row">
    <div class="col-12 text--center">
      <ul class="homepage-menu text--center">
        <li class="menu-item"><%= link_to "L'HISTOIRE", home_path %></li>
        <li class="menu-item"><%= link_to "LE DOMAINE", about_path %></li>
        <li class="menu-item"><%= link_to "CONTACT", contact_path %></li></li>
        <li class="menu-item"><%= link_to "INFORMATIONS PRATIQUES", infos_path %></li>
      </ul>
    </div>
  </div>
  <div class="row info-content">
    <div class="col-6">
      <div id='map' style='width: 600px; height: 500px;'></div>
    </div>
    <div class="col-6">
      <p>Comment accéder à la Thibaudière</p>
    </div>
  </div>
</div>
