.btn-information {
  display: inline-block;
  background-color: transparent;
  padding: 7px 23px;
  border-radius: 19px;
  color: white;
  border: 1px solid #ccc !important;
  text-decoration: none;
  font-size: 25px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}
