.homepage-banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  background-image : url(https://res.cloudinary.com/chiaramtr/image/upload/v1609180027/la-thib_xrlwmw.jpg);
}

.homepage-banner h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 55px;
}

.homepage-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 22px;
  margin-bottom: -48px;
}

.homepage-menu li {
  font-size: 22px;
  font-weight: 900;
  color: black;
  text-shadow: black;
  text-decoration: none;
}

.homepage-menu li:hover {
  text-decoration: none;
  font-weight: bold;
}

.text--center {
    text-align: center!important;
}

.menu-container {
  width: 900px;
  margin: auto;
}

.menu-item {
  display: inline-block;
  margin: 0;
  margin-right: 40px;
  margin-right: 2.5rem;
  font-family: 'Raleway', sans-serif;
}

.ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

