// @media screen and ((min-width: 2000px)) {
//   .bg-homepage {max-width: 2000px;}
// }

.bg-homepage {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image : url(https://res.cloudinary.com/chiaramtr/image/upload/v1610385236/La%20thibaudiere/D0BFE4A9-97BD-4DD0-AEBC-32734DFEA718_1_105_c_hgwonq.jpg);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  padding-bottom: 200px;
}

.bg-homepage h1 {
  color: #281919;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.homepage-menu {
  list-style-type: none;
  padding: 0;
  margin: 25px 10px 0px 10px;
}

.homepage-menu li {
  font-size: 22px;
  font-weight: 900;
  color: black;
  text-shadow: black;
  text-decoration: none;
}

.homepage-menu li:hover {
  text-decoration: none;
  font-weight: bold;
}

.text--center {
    text-align: center!important;
    text-shadow: 0 0 black;
}

.menu-text {
  width: 900px;
  margin: auto;
}

.menu-item {
  display: inline-block;
  margin: 0;
  margin-right: 40px;
  margin-right: 2.5rem;
  font-family: 'Raleway', sans-serif;
}

.menu-item a {
  color: black;
}

.menu-item a:hover {
  color: black;
  font-weight: 900;
}

.ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

