/* The sidebar menu */
.bg-about {
background-color: transparent;
}

.about-sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: min-content; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  background-color: transparent; /* Black */
  padding-top: 30px;
  margin-right: 10px;
  overflow-x: hidden;
}

/* The navigation menu links */
.about-sidenav a {
  padding: 8px 0px 35px 15px;
  text-decoration: none;
  font-size: 22px;
  color: #252525;
  display: block;
  font-family: 'Raleway', sans-serif;
}

.about-menu {
  margin-top: 10px;
}

.container-text {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
}

.container-text h1{
  padding: 30px 0px 13px 0px;
}

/* When you mouse over the navigation links, change their color */
.about-sidenav a:hover {
  font-weight: bold;
}

/* Style page content */
.main {
  padding: 0px 10px;
  margin-left: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .about-sidenav {padding-top: 15px;}
  .about-sidenav a {font-size: 18px;}
}
